/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after{
    box-sizing: border-box;
}

:root{
  --first: #4075D5;
  --second: #E7EDFD;
  --third: #ffffff;
}

html{
    font-size: 16px;
}

body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
    color: white;
}

.flex{
    display: flex;
}

.flex-48{
    flex: 0 1 48%;
}

.flex-30{
    flex: 0 1 30%;
}

.wrap{
    flex-wrap: wrap;
}

.flex-20{
    flex: 0 1 20%;
}

.center{
    text-align: center;
}

.justify-around{
    justify-content: space-around;
}

.column{
    flex-direction: column;
}

.full-width{
    width: 100%;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
    
}

.items-center{
    align-items: center;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.padding{
    padding: 1rem 0;
}

/* header */
.navbar{
    background-color: var(--first);
}

.navbar-menu a{
    color: var(--third);
    font-weight: 700;
    font-size: 2rem;
}

/* main */
.main{
  background-color: #F4F5F9;
}

.person{
    background-color: var(--third);
    border-radius: 0.5rem;
    padding: 1rem;
}

.margin-card{
    margin: 1rem 0;
}
.person img{
    border-radius: 50%;
    border: 0.2rem solid green;
    margin-right: 1rem;
}

.btn{
    width: 100%;
    background-color: var(--second);
    color: var(--first);
    border: none;
    padding: 0.5rem 0;
}

.main h2{
    font-weight: bold;
}
.main a{
    color: var(--first);
    font-weight: bold;
}